.card-text {
  height: 130px;
}
.img-hebreus-11-6 {
  background: url(../img/ceu.PNG) no-repeat;
}

.img-oseias-4-6 {
  background: url(../img/jerusalem.PNG) no-repeat;
}

.img-joao-3-16 {  
  background: url(../img/filho-amado.png) no-repeat;
}

.img-1tessalonicenses-4-15 {  
  background: url(../img/arrebatamento.PNG) no-repeat;
}

.img-2timoteo-3-16 {
  background: linear-gradient(45deg, #089BE4, #AAD8EF);
}

.img-jeremias-9-24 {
  background: linear-gradient(45deg, red, blue);
}

.img-2-pedro-3-18 {
  background: url(../img/conhecimento.PNG) no-repeat;
}

.img-oseias-6-3 {
  background: url(../img/prossigamos.png) no-repeat;
}

.img-proverbios-9-10 {
  background: url(../img/sabedoria.png) no-repeat;
}